@font-face {
    font-family: swiftyy;
    src: url("./Spiegel_TT_Bold.ttf");
}

body {
    background-image: url(muzeumokmenukep.jpg);
    background-size: cover;
    background-repeat:repeat-y;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}



#menu {
    height: 6vh;
    background-color: black;
    text-decoration: none;
    text-transform: uppercase;
    width: 100vw;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    margin-top: -1vh;
    margin-left: -1vw;
    font-size: 25px;
    font-family: swiftyy;
}

.menubar {
    margin-top: 0.6%;  
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 70px;
    text-transform: uppercase;
    margin-top: 3vh;
    color: white;
}

#muzeumok {
    display: block;
}

#muzeum {
    width: 1600px;
    display: flex;
    margin-top: 40px;
    margin-bottom: auto;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

#muzeumkep {
    background-image: url(muzeumkep.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 320px;
    height: 595px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: none; 
}

#muzeumszoveg {
    display: block;
    text-align: left;
    margin-left: 3vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    position: relative;
    width: 1200px;
    height: 600px;
    margin-right: 2vw;
}

#ora {
    background-image: url(clock.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    padding-right: 8px;
    margin-top: 20px;
}

#money {
    background-image: url(money.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    padding-right: 8px;
    margin-left: 10px;
    margin-top: 40px;  
}

#nyitvatartas {
    color: white;
    font-size: 20px;
    width: 300px;
    line-height: 20px;
    height: 300px;
    text-transform: uppercase;
    font-family: swiftyy;
    margin-left: 10px;
    margin-top: 40px;  
}

#belepo {
    color: white;
    font-size: 20px;
    width: 300x;
    line-height: 20px;
    height: 300px;
    text-transform: uppercase;
    padding-left: 10px;
    margin-top: 40px;
    font-family: swiftyy;
}

#muzeumokszoveg1 {
    color: white;
    font-size: 20px;
    font-family: swiftyy;
    text-transform: uppercase;
    line-height: 20px;
    text-align: left;
    margin: auto;
    display: flex;
}

#muzeumokszoveg2 {
    color: white;
    font-size: 20px;
    font-family: swiftyy;
    text-transform: uppercase;
    line-height: 20px;
    text-align: left; 
    padding: 20px;
    margin: auto;
}

#muzeumkep2 {
    background-image: url(cat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;
    height: 595px;
    margin-top: auto;
    margin-bottom: auto;
}


#ettermek {
    display: flex;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 1600px;
}

#szovegek {
    display: block;
    height: 600px;
    width: 1200px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: swiftyy;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2vw;
    text-transform: uppercase;
    text-align: left;
}

#felsoszoveg {
    display: flex;
    height: 300px;
    width: 1200px;
}

#bemutato {
    width: 600px;
    height: 300px;
    margin-left: 10px;
    margin-top: 40px;  
}

#alsoszoveg {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top:  10px;;
    height: 300px;
    width: 1200px;
    padding-left: 5px;
    padding-right: 5px;
}

#etterem1kep {
    background-image: url(etterem1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 320px;
    height: 595px;
    margin-top: auto;
    margin-bottom: auto;
    background-position: center;
}

#etterem2kep {
    background-image: url(etterem2kep.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 320px;
    height: 595px;
    margin-top: auto;
    margin-bottom: auto;
    background-position: center;
}



